@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
 
body{
  min-height: 100vh;
  background-color: #fcfcfc;
}
a{
  text-decoration: none;
  color: inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
  flex: 1;
  height: calc(100vh - 80px);
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Ensure the login page takes full height */
.login-container {
  min-height: 100vh;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}