@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: Inter;
}
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; /* prevents mobile horizontal scroll */
}
a{
  text-decoration: none;
  color:inherit;
}
.app {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

@keyframes fadeIn {
  0%{
      opacity:0;
  
  }
  100% {
      opacity: 1
  }
}